*{margin:0;padding:0;font-family: 'News Cycle';}

/* latin-ext */
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

@font-face {
font-family: 'Helvetica Neue LT Std 45 Light';
font-style: normal;
font-weight: normal;
src: local('Helvetica Neue LT Std 45 Light'), url('HelveticaNeueLTStd Lt.woff') format('woff');
}

h1, .title {
  font-family: 'Fjalla One', sans-serif;
}
p, li{
  font-family: 'helvetica';
}
.title {
  font-family: 'Fjalla One', sans-serif;
}
.section-6 img{
width: 60%;
}
.paragraph{
  width: 80%;
  align-content: center;
}
.section{min-height:100vh;color:#333333;}
.aside{
  width:36%;
  float: right;
}
.full{
  width: 40%;
  padding-top: 100px;
  margin-left: 30%;
}

h2{
  margin: 40px;
  color: #e2333f;
  font-family: helvetica;
}
.section-1{}
  .section-1 .logo{position:absolute;left:50px;top:50px;width:300px;}
  .section-1 .container-section{display:flex;flex-direction:column;align-items: center;justify-content: center;height: 100vh;width: 100%;}
    .section-1 h1{font-size:78px; color:#e2333f;}
	.section-1 .cloud{position: absolute;bottom: -65%;left: 0;right: 0;}

  .section-2{height:calc(100vh + (100vh * (148/300)));padding-top:calc(100vh * (148/300) + 200px );box-sizing: border-box;}

  .section-content{min-height:100vh;}
    .section-content .container{width:80%;margin:0 auto;display: flex;align-items: center;justify-content: space-between;flex-wrap:wrap;margin:auto;width;:80%;}
      .section-content .title{    width: 100%;
    margin-bottom: 20px;
    font-size: 43px;
    color: #1abc9c;}
      .section-content:not(.section-2) .title{    margin-top: 61%;}
      .section .row{display:flex;justify-content: space-between;width: 100%;}
      .section-content .container .paragraph{width:70%;justify-content: center; margin: 42px 0}

.section-3{}
	.section-3 .map-container{margin-top:calc(100vh * (148/300));transition: all 0.5s linear;position:relative;width:100%;height:100%;max-width: 1200px;margin: 0 auto;}


  .maison{width:3vw;position:absolute;opacity:0;transition: all 0.5s linear;}
  .map-container.active .maison{opacity:1;}
  .map-container .maison:nth-child(1){top:0vw;left:60vw;}
  .map-container .maison:nth-child(2){top:10vw;left:40vw;}
  .map-container .maison:nth-child(3){top:8vw;left:52vw;}
  .map-container .maison:nth-child(4){top:30vw;left:30vw;}
  .map-container .maison:nth-child(5){top:40vw;left:73vw;}
  .map-container .maison:nth-child(6){top:30vw;left:50vw;}
  .map-container .maison:nth-child(7){top:15vw;left:70vw;}
  .legend{position:absolute;top:-5vw;left:2vw;color:#e2333F;font-size:30px;display:flex;align-items:center;height:4vw;}
    .legend img{opacity:1;width:3vw;position:static;margin-right:1vw;}

	.section-3 .map-container.active{}	
		.section-3 .map-container .carte{width:100%;}
		

    .goutte{transition: all 0.5s linear;left: 30vw;bottom:0;margin-top:0;width:1vw;position:absolute;}
    .goutte.visible{width: 5vw;left: 27.8vw;bottom: -6.5vw;}


.section-3{}
.section-4{}


.flux{width:400px;height:30px;background: linear-gradient(270deg, #e2333f, #1abc9c);
background-size: 400% 400%;

-webkit-animation: AnimationName 4s ease infinite;
-moz-animation: AnimationName 4s ease infinite;
animation: AnimationName 4s ease infinite;

}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.flux-1{position:absolute;top: 10vw;top: 11vw;left: 44vw;width: 109px;height: 10px;transform: rotate(-10deg);}

